{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="post", action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today!</legend>
                <dir class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-control form-control-lg") }}
                </dir>
            </fieldset>
        </form>

    </div>
{% endblock content %}